modules/io/lucy-ai/lead_scoring_automation.json
{
  "name": "KarmaTheGame - Lead Scoring and Tracking",
  "nodes": [
    {
      "parameters": {},
      "id": "start-lead-scoring",
      "name": "Start Lead Scoring",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "karma-lead-scoring-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": "{{ $workflow.settings.leads_sheet_id }}",
        "sheetName": "Leads",
        "range": "A:Z",
        "keyRow": 1,
        "dataStartRow": 2
      },
      "id": "load-leads",
      "name": "Load Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-scoring",
              "leftValue": "={{ $json.last_scored }}",
              "rightValue": "={{ DateTime.now().minus({ days: 7 }).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ]
        }
      },
      "id": "filter-leads-for-scoring",
      "name": "Filter Leads for Scoring",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "getStats",
        "domain": "{{ $workflow.settings.mailgun_domain }}",
        "options": {
          "event": "opened,clicked,delivered,bounced,complained"
        }
      },
      "id": "get-email-stats",
      "name": "Get Email Stats",
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "mailgunApi": {
          "id": "mailgun-api",
          "name": "Mailgun API"
        }
      }
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": "={{ $workflow.settings.leads_sheet_id }}",
        "sheetName": "Leads",
        "range": "={{ $json.row_range }}",
        "keyRow": 1,
        "dataStartRow": 2,
        "data": {
          "lead_score": "={{ $json.calculated_score }}",
          "last_scored": "={{ DateTime.now().toISO() }}",
          "engagement_level": "={{ $json.engagement_level }}",
          "priority": "={{ $json.priority_level }}"
        }
      },
      "id": "update-lead-scores",
      "name": "Update Lead Scores",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start Lead Scoring": {
      "main": [
        [
          {
            "node": "Load Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Load Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Leads": {
      "main": [
        [
          {
            "node": "Filter Leads for Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Leads for Scoring": {
      "main": [
        [
          {
            "node": "Get Email Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Stats": {
      "main": [
        [
          {
            "node": "Update Lead Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York"
  },
  "staticData": {},
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "karma-pr",
      "name": "KarmaTheGame PR"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}