modules/io/output/email_sequences_automation.json
{
  "name": "KarmaTheGame - Email Follow-up Sequences",
  "nodes": [
    {
      "parameters": {},
      "id": "start-email-sequences",
      "name": "Start Email Sequences",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "cronExpression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "daily-sequence-trigger",
      "name": "Daily Sequence Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        500
      ]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": "{{ $workflow.settings.email_sequences_sheet_id }}",
        "sheetName": "Email Sequences",
        "range": "A:Z",
        "keyRow": 1,
        "dataStartRow": 2
      },
      "id": "load-email-sequences",
      "name": "Load Email Sequences",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "sequence-active",
              "leftValue": "={{ $json.sequence_status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "due-for-sending",
              "leftValue": "={{ $json.next_send_date }}",
              "rightValue": "={{ DateTime.now().toFormat('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-due-sequences",
      "name": "Filter Due Sequences",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "fromEmail": "pr@karmathegame.org",
        "fromName": "KarmaTheGame PR Team",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_template }}",
        "options": {
          "tracking": true,
          "trackingClicks": true,
          "trackingOpens": true,
          "tags": [
            "email_sequence",
            "{{ $json.sequence_type }}",
            "step_{{ $json.current_step }}"
          ]
        }
      },
      "id": "send-sequence-email",
      "name": "Send Sequence Email",
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "credentials": {
        "mailgunApi": {
          "id": "mailgun-api",
          "name": "Mailgun API"
        }
      }
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": "={{ $workflow.settings.email_sequences_sheet_id }}",
        "sheetName": "Email Sequences",
        "range": "={{ $json.row_range }}",
        "keyRow": 1,
        "dataStartRow": 2,
        "data": {
          "last_sent": "={{ DateTime.now().toISO() }}",
          "current_step": "={{ $json.current_step + 1 }}",
          "next_send_date": "={{ DateTime.now().plus({ days: $json.days_between_emails }).toFormat('yyyy-MM-dd') }}",
          "emails_sent": "={{ $json.emails_sent + 1 }}"
        }
      },
      "id": "update-sequence-status",
      "name": "Update Sequence Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start Email Sequences": {
      "main": [
        [
          {
            "node": "Load Email Sequences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Sequence Trigger": {
      "main": [
        [
          {
            "node": "Load Email Sequences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Email Sequences": {
      "main": [
        [
          {
            "node": "Filter Due Sequences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Sequences": {
      "main": [
        [
          {
            "node": "Send Sequence Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Sequence Email": {
      "main": [
        [
          {
            "node": "Update Sequence Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York"
  },
  "staticData": {},
  "tags": [
    {
      "createdAt": "2024-01-15T10:00:00.000Z",
      "updatedAt": "2024-01-15T10:00:00.000Z",
      "id": "karma-pr",
      "name": "KarmaTheGame PR"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}